body{
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 100px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    line-height: 40px;
    font-size: 40px;
    text-align: justify;
}

#txt01{
    color: aliceblue;
    text-align: right;
}

#txt02{
    background-color: azure;
    text-transform: uppercase;

}

